SPREADSHEET_ID=1CwZ-h1ZnJ4tdwQ_B56DOPNt35ffGHUXg
ADMIN_PASSWORD=nicot301
SESSION_SECRET=ランダムな長い文字列に変更してください
GOOGLE_CREDENTIALS={"type":"service_account","project_id":"...","private_key_id":"...","private_key":"-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n","client_email":"xxx@xxx.iam.gserviceaccount.com","client_id":"...","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token"}
PORT=3000
